*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --cell-size : 100px;
    --mark-size:calc(var(--cell-size)*.9);
}
.board{

    width: 100vw;
    height: 100vh ;
    display: grid;
justify-content: center;
align-content:center ;
justify-items: center;
align-items: center;
grid-template-columns: repeat(3,auto);

}
.cell{
    width:var(--cell-size);
    height: var(--cell-size);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(2, 2, 2);
    position: relative;
    cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
    border-top: none;
}
.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9){
    border-bottom: none;
}
.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7){
    border-left: none;
}
.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9){
    border-right: none;
}
.cell.x,
.cell.circle{
    cursor:not-allowed;
    /* pointer-events: none; */
}
.cell.x::before,
.cell.x::after{
    background-color: rgb(255, 4, 45);
}
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after{
    background-color: lightpink;
}
.cell.circle::before,
.cell.circle::after{
    background-color: rgb(5, 252, 22);
}
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after{
    background-color: lightpink;
}


.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after{
    content: "";
    width: calc(var(--mark-size)*.15);
    position: absolute;
    height: var(--mark-size);
}
.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before{
    transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after{
    transform: rotate(-45deg);
}





.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after{
    content: "";
    width: var(--mark-size);
    position: absolute;
    height: var(--mark-size);
    border-radius: 50%;
}
.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before{
    width: var(--mark-size);
    height: var(--mark-size);
  
}
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after{
    width: calc(var(--mark-size)*.7);
    height: calc(var(--mark-size) *.7);
    background-color: rgb(255, 255, 255);
}


.winner-message{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.527);
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    flex-direction: column;
    line-height: 1.6;
}
.winner-message button{
    font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  padding:.25em .5em ;
}
.winner-message button:hover{
    background-color: black;
    border: .8px solid white;
    color: white;
}
.winner-message.show{
    display: flex;
}